// -------------------------------------
// Susy Import
// -------------------------------------
//@import "susy";
// -------------------------------------
// Core Mixins
// -------------------------------------
@import "../core/core/mixins";
// -------------------------------------
// Variables Import
// -------------------------------------
// 載入全域變數
@import "../core/core/variables";
// -------------------------------------

// Components / Modules Setting
// -------------------------------------
// 請輸入您的ClassName
$classname: 'calendar';
// -------------------------------------
// 您的CSS Code
// -------------------------------------
//以下範例可以刪除，改為您自已的CSS Code

.#{$classname} {
	li{
		list-style: none;
	}
	.calendars_tabWrap{
			overflow: hidden;
			.ntb_gpbt>a {
			    width: 20px;
			    float: left;
			    position: relative;
			    height: 40px;
			    color: transparent;
			    background-color: #bbb;
			}
		.ntb_gpbt.yellow .prev,.ntb_gpbt.yellow .next{
			background-color: #ede9dd;
			height:50px;
		}
		.ntb_gpbt>.ntb_tab {
		    padding: 0;
		    float: left;
		    width: calc(100% - 40px);
		    margin-bottom: 0;
		    white-space: nowrap;
		    font-size: 0;
		    overflow: hidden;
		}
		.ntb_tab>li {
	    	background-color: #ede9dd;	
	    	float: left;
	    	height: 50px;
	    	font-size: 16px;
	    	a{
	    		display: block;
	    		height: 50px;
	    		border-top: 6px solid #ede9dd;
	    		text-decoration: none;
	    		margin: 0 3px;
	    		padding-top: 6px;
	    		background: #fff;
	    		span{
	    			    display: block;
					    font-size: 16px;
					    color: #e10500;
					    line-height: 1.25;
	    		}
	    	}
		}
		.ntb_gpbt>.ntb_tab>li, .ntb_gpbt>.ntb_tab>li.tab {
	    	width: 33.3333%;
	    	display: inline-block;
	    	list-style-type: none;
	    	position: relative;
	    	text-align: center;
	    	background-color: #ede9dd;
	    	vertical-align: top;
		}
		.ntb_gpbt.yellow .prev.on:before {
	    border-color: transparent #e10500 transparent transparent;
		}
		.ntb_gpbt.yellow .prev:before {
			    left: -1px;
			    border-width: 7px 7px 7px 0;
			    border-color: transparent #e10500 transparent transparent;
		}

		.ntb_gpbt .prev:before {
			    left: -1px;
			    border-width: 7px 7px 7px 0;
			    border-color: transparent #f4f4f4 transparent transparent;
		}
		.ntb_gpbt>a:before {
			    content: "";
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
			    display: inline-block;
			    width: 0;
			    height: 0;
			    border-style: solid;
		}
		.ntb_gpbt.yellow .next.on:before {
		    border-color: transparent transparent transparent #e10500;
		}

		.ntb_gpbt.yellow .next:before {
		    right: -1px;
		    border-width: 7px 0 7px 7px;
		    border-color: transparent transparent transparent #e10500;
		}

		.ntb_gpbt .next:before {
		    right: -1px;
		    border-width: 7px 0 7px 7px;
		    border-color: transparent transparent transparent #f4f4f4;
		}
	}
	.calendars_weeksWrap>table{
		width: 100%;
		thead> tr{
			display: flex;
			th{
				flex:1;
				line-height: 30px;
		    	color: #666;
		    	background-color: #fff;
		    	border-top: 1px solid #f4f4f4;
		    	border-bottom: 1px solid #f4f4f4;
	    	}
	    }
	    tbody>tr{
	    	display: flex;
	    	td{
	    		box-sizing:border-box;
	    		flex:1;
	    		padding: 0 3px;
    			font-size: 12px;
    			line-height: 16px;
    			border: 1px solid #eee;
    			border-top: 1px solid transparent;
    			border-left: 1px solid transparent;
    			height: 85px;
    			cursor: pointer;
	    	}
	    }

	}
	// style on phone device
	@media screen and (min-width: $screen-tablet) {
	
		// style on tablet device
	}
	@media screen and (min-width: $screen-desktop) {

		// style on desktop device
	
	}
	@media screen and (min-width: $screen-lg-desktop) {

		// style on desktop device
	}
	&.#{$classname}_modifier {
		
	}
	& > .#{$classname}_child {
		
	}
	& .#{$classname}_descendant {

	}
}