// -------------------------------------
// Susy Import
// -------------------------------------
//@import "susy";
// -------------------------------------
// Core Mixins
// -------------------------------------
@import "../core/core/mixins";
// -------------------------------------
// Variables Import
// -------------------------------------
// 載入全域變數
@import "../core/core/variables";
// -------------------------------------

// Components / Modules Setting
// -------------------------------------
// 請輸入您的ClassName
$classname: 'calendar';
// -------------------------------------
// 您的CSS Code
// -------------------------------------
//以下範例可以刪除，改為您自已的CSS Code

//修改html結構後的CSS///////////////////////////////////////////////////////////
.#{$classname} {
	.hide{
		display:none!important;
	}
	.border_lef{
		border-left: 1px solid #eee!important;
	}
	a{
		cursor: pointer;
	}
	.dataStatus_Or{
		color: #ff7800!important;
	}
	.dataStatus_Re{
		color: #e10500!important;
	}
	.dataStatus_Gr{
		color: #24a07c!important;
	}
	.listPage{
		position: absolute;
		width: 100%;
		bottom: 0;
		display: flex;
		.listChangeBox{
			flex:1;
		}
		.nextList{
			text-align: right;
		}
		.prevList{
			text-align: left;
		}
		.num{
			flex:6;
			text-align: center;
			font-size: 14px;
    		line-height: 1.5;
    		color: #444;
		}
		.arrow-gl, .arrow-gr{
			display: inline-block;
    		width: 0;
    		height: 0;
    		border-style: solid;
    		vertical-align: middle;
    		margin-top: -3px;
		}
		.arrow-gr {
    		border-width: 4.5px 0 4.5px 5px;
    		border-color: transparent transparent transparent #24a07c;
		}
		.arrow-gl{
			border-width:4.5px 5px 4.5px 0;
			border-color: transparent #24a07c transparent transparent; 
		}
	}
	// style on phone device
	@media screen and (min-width: $screen-tablet) {
		// style on tablet device
	}
	@media screen and (min-width: $screen-desktop) {
		// style on desktop device
	}
	@media screen and (min-width: $screen-lg-desktop) {
		// style on desktop device
	}
	
	& > .#{$classname}_tabWrap {
		overflow: hidden;
		background-color: #ede9dd;
		.ntb_gpbt>a {
			    width: 20px;
			    float: left;
			    position: relative;
			    height: 40px;
			    color: transparent;
			    background-color: #bbb;
			}
		.ntb_gpbt.yellow .prev,.ntb_gpbt.yellow .next{
			background-color: #ede9dd;
			height:50px;
		}
		.ntb_gpbt>.ntb_tab {
		    padding: 0;
		    float: left;
		    width: calc(100% - 40px);
		    margin-bottom: 0;
		    white-space: nowrap;
		    font-size: 0;
		    overflow: hidden;
		}
		.ntb_tab>li {
	    	background-color: #ede9dd;	
	    	float: left;
	    	height: 50px;
	    	font-size: 16px;
	    	a{
	    		display: block;
	    		height: 50px;
	    		border-top: 6px solid #ede9dd;
	    		text-decoration: none;
	    		margin: 0 3px;
	    		padding-top: 6px;
	    		// background: #fff;
	    		span{
	    			    display: block;
					    font-size: 16px;
					    color: #666;
					    line-height: 1.25;
	    		}
	    	}
		}
		.currentMonth{
			background: #fff;
			span{
				color: #e10500!important;
			}
		}
		.ntb_gpbt>.ntb_tab>li, .ntb_gpbt>.ntb_tab>li.tab {
	    	width: 33.3333%;
	    	display: inline-block;
	    	list-style-type: none;
	    	position: relative;
	    	text-align: center;
	    	background-color: #ede9dd;
	    	vertical-align: top;
		}
		.ntb_gpbt.yellow .prev.on:before {
	    	border-color: transparent #e10500 transparent transparent;
		}
		.ntb_gpbt.yellow .prev:before {
			    left: -1px;
			    border-width: 7px 7px 7px 0;
			    border-color: transparent #e10500 transparent transparent;
		}

		.ntb_gpbt .prev:before {
			    left: -1px;
			    border-width: 7px 7px 7px 0;
			    border-color: transparent #f4f4f4 transparent transparent;
		}
		.ntb_gpbt>a:before {
			    content: "";
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
			    display: inline-block;
			    width: 0;
			    height: 0;
			    border-style: solid;
		}
		.ntb_gpbt.yellow .next.on:before {
		    border-color: transparent transparent transparent #e10500;
		}

		.ntb_gpbt.yellow .next:before {
		    right: -1px;
		    border-width: 7px 0 7px 7px;
		    border-color: transparent transparent transparent #e10500;
		}

		.ntb_gpbt .next:before {
		    right: -1px;
		    border-width: 7px 0 7px 7px;
		    border-color: transparent transparent transparent #f4f4f4;
		}
	}
	& > .#{$classname}_weeksWrap {
		display: flex;
		& > span {
			text-align: center;
			flex: 1;
		}
	}
	& > .#{$classname}_daysWrap {
		display: block;
		margin: 0;
		padding: 0;
		list-style-type: none;
		& > .#{$classname}_days {
			display: block;
			border: 1px solid #eee;
			@include clearfix;
			&.disabled {
			
			}
			&.hasData {

			}
			& > .status, & > .sell,& > .group,& > .tip,& > .price {
				display: none;
			}

			& > .date {
				& > .num {}
				& > .weekday {
					display: none;
				}
			}
			& > .status {}
			& > .sell {}
			& > .group {}
			& > .tip {}
			& > .price {}
			&:hover {
				background: #fff9e3;
			}
		}

	}
	&.#{$classname}_daymode {
	
		// border: 1px solid #eee;
		.hideLis{
			display: block!important;
		}
		& > .#{$classname}_weeksWrap {
			border-right:1px solid #eee;
			border-left:1px solid #eee; 
		}
		& > .#{$classname}_daysWrap {
			border: 1px solid #eee;
			display: flex;
			flex-wrap: wrap;
			background-color:#f8f8f8;
			box-sizing:border-box;
			& >.disabled{
				background-color:#f8f8f8!important;
				border: transparent;
			}
			& >.daySelected{
					box-sizing:border-box;
					border: 1px solid #66bb3c!important;
					background-color: #fff9e3!important;
			}
			& >.listPage{
				display: none;
			}
			& > .#{$classname}_days:hover{
			background-color: #fff9e3;
			// cursor: pointer;
			}
			.daysWithData{
				cursor: pointer;
			}
			& > .#{$classname}_days {
				.tip{
					position: absolute;
					top: 0;
					right: 0;
					width: 48px;
					height: 20px;
					color: #fff;
		    		text-align: center;
		    		line-height: 20px;
		    		background-color: #66bb3c;
				}
				.weekdays{
					display: none;
				}
				.productreferf{
					display: none;
				}
				span{
					display: block;
					margin:0;
					padding: 0;
					line-height: 17px; 
				}
				.price {
				    color: #e10500;
				    margin-bottom:0; 
				}
				width: (100%/7);
				height: 87px;
				border-left-width: 0;
				border-top-width: 0;
				position: relative;
				font-size: 12px;
				background-color: #fff;
				// border-right-color: transparent;
				// border-top-color: transparent;

				&:last-child {
					border-right-width: 1px;
				}
				&:nth-child(-n + 7) {
					border-top-width: 1px;
					border-bottom-width:0px; 
				}
				&:nth-child(n+7):nth-child(-n+14) {
					border-top-width: 1px;
				}

				&:nth-child(7n+7){
					border-right-width:0px;
				}
				&:nth-child(7n+1) {
					border-left-width: 0px;
				}

				&:nth-child(n+0):nth-child(-n+7) {
					border-top-width: 0px;
				}
				&:nth-child(n+36):nth-child(-n+43) {
					border-bottom-width: 0px;
				}

				& > .date {
					& > .weekday {
						display: none;
					}
				}
				& > .status, & > .sell,& > .group,& > .tip,& > .price {
					display: block;
				}
			}
		}
	}
	&.#{$classname}_listmode {
		.hideLis{
			display: none!important;
		}
		& > .#{$classname}_weeksWrap {
			display: none;
		}
		& > .#{$classname}_daysWrap {
			position: relative;
			height: 520px;
			.daySelected{
				box-sizing:border-box;
				border: 1px solid #66bb3c!important;
				background-color: #fff9e3!important;
			
			}
			& > .#{$classname}_days {
				display: none;
				width: 100%;
				height: 62px;
				position: relative;
				cursor: pointer;
				span{
					color: #666;
				}
				.price{
					position: absolute;
					right: 5px;
					bottom: 5px;
					font-size: 16px;
					color:#e10500; 
				}
				.dataStatus{
					position: absolute;
					top: 5px;
					right: 5px;
					font-size: 16px;
				}
				.onsell{
					position: absolute;
					top: 5px;
					left: 70px;
				}
				.totalSet{
					position: absolute;
					top: 5px;
					left: 130px;
				}
				.tip{
					position: absolute;
					display: block;
					padding: 0 5px;
					position: absolute;
					bottom: 5px;
					left: 70px;
					height: 21px;
					color: #fff;
		    		text-align: center;
		    		line-height: 20px;
		    		background-color: #66bb3c;
				}
				.productreferf{
					color: #fff;
				}
				.weekdays{
					position: absolute;
					text-align: center;
					font-size: 16px;
					left: 5px;
					bottom: 5px;
				}
				.normalDate{
					position: absolute;
					font-size: 24px;
					left: 5px;
					text-align: center;
					width: 48px;
				}
				&.hasData {
					display: block;
				}
				&.daysWithData{
					display: block;
					border-top:1px solid transparent; 
				}
				& > .date, & > .status, & > .sell,& > .group,& > .tip,& > .price {
					display: inline-block;
				}
				& > .status,& > .price {
					float: right;
				}
				& > .date {
					float: left;
					& > .num {}
					& > .weekday {
						display: block;
					}
				}
				& > .status {}
				& > .sell {}
				& > .group {}
				& > .tip {
					float: left;
					clear: right;
				}
				& > .price {
					clear: right;
				}
			}
		}
	}
}
//修改html結構後的CSS///////////////////////////////////////////////////////////
